header {
  width: 100%;
  padding: 1.5em 1em;
  background-color: #242424;
  box-shadow: 0px 1px 10px #131212;
}

.header_container {
  width: 100%;
  position: relative;
}

.header_container nav {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_container a {
  color: var(--primary-white-font-color);
  text-decoration: none;
}

.logo_container a {
  font-size: 1.420em;
}

.featuredWordLogo {
  color: #43c043;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
}